[submodule "commons"]
	path = commons
	url = git@github.com:shahrokh765/common-tools.git
[submodule "spectrum_allocation"]
	path = spectrum_allocation
	url = git@github.com:shahrokh765/spectrum_allocation.git
